.about{
 width: 70%;
 background-color: rgb(19, 19, 19);
 position: relative;
 color: white;
 margin: auto;
 padding-top: 20px;
 padding-bottom: 20px;
}

.title{
 font-size: 1.6rem;
 margin: 0 40px;
}

.subtitle{
 font-size: 1rem;
 margin-top: 5px;
 margin-left: 40px;
 margin-right: 40px;
 margin-bottom: 30px;
 }